<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>등록 폼</title>
</head>
<body>

<form th:action="@{'/article'}" th:method="post">
    <input name="title" placeholder="title"/>
    <input name="content" placeholder="content"/>
    <input name="price" type="number" placeholder="price"/>
    <input name="picture" placeholder="picture"/>
    <input name="category" placeholder="category"/>
    <input name="address.city" placeholder="city"/>
    <input name="address.street" placeholder="street"/>
    <input name="address.zipcode" placeholder="zipcode"/>

    <button type="submit">등록</button>
</form>
</body>
</html>